/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет лого и кнопок #2196F3 */

/* основной цвет фона #FFFFFF  */
/* вторичныйцвет фона #2F303A */
/* дополнительный цвет фона #F5F4FA */

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;

  color: var(--primary-text-color);
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --second-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

cursor: pointer;
cursor: auto;

/*header*/

header {
  background-color: var(--white);
}

.page-header {
  background-color: var(--white);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  background-color: lightblue;
  outline: 2px solid khaki;
}

.logo-first {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-second {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: flex;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--accent-color);
}

.menu-item {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
}

.auth-nav .auth-item:hover,
.auth-nav .auth-item:focus {
  color: var(--accent-color);
}

.auth-item {
  color: var(--title-text-color);
  display: inline;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.list {
  margin: 0;
}

.page-header {
  background-color: var(--white);
}

/*main contant*/

/*section order*/

.order {
  background-color: var(--primary-text-color);
  text-align: center;
}

.main-idea {
  margin-top: 0;
  padding-top: 200px;
  margin-bottom: 35px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.order-btn:hover,
.order-btn:focus {
  background-color: #188ce8;
}

.order-btn {
  color: var(--white);
  background-color: var(--accent-color);
  font-style: 700;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 32px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 200px;
}

/* section advantages*/

.advantages {
  background-color: yellow;
  padding-top: 94px;
  padding-bottom: 94px;
  list-style: none;
}

.advantages-list {
  margin: 0;
  display: flex;
  justify-content: center;
}

.card-content {
  padding-left: 30px;
}

.advantages-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 15px;
  padding-bottom: 15px;
}

.description-item {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

/*our works and team*/

.simple-work {
  background-color: violet;
  padding-top: 0;
  padding-bottom: 94px;
}

.works,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-top: 0;
  margin-bottom: 50px;
}

.team {
  padding-top: 94px;
}

.team-item {
  margin: 0;
}

.simple-foto {
  margin: 0;
  display: flex;
}

.section-team {
  background-color: palegreen;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
}

.team-position {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
}

/*contact inform*/

.footer {
  font-family: "Roboto", sans-serif;
  background-color: var(--second-background-color);
}

.logo {
}

.logo-second-fotter {
  color: var(--white);
}
.contact {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-left: 215px;
}

.auth-footer .footer-item:hover,
.auth-footer .footer-item:focus {
  color: var(--accent-color);
}

.footer-item {
  color: rgba(255, 255, 255, 0.6);
}

/* страница 2 */

.section-portfolio {
  background-color: lawngreen;
}

.portfolio-button {
  display: inline;
}

.button-main {
  color: var(--white);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  margin: 6px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
}

.button {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border: 1px solid transparent;
  margin: 6px;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
}
.line {
  border: 1px solid #000000;
}

.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.product-item {
  margin: 0;
}

.opportunity {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.product {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin: 0;
}
